*{
  box-sizing: border-box;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: #000000;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;

}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.map-container {
  width: 100%;
  height: 90vh;
}
.marker {
  background-color: yellow;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding: 1rem;
  text-align: left;
  background-color: white;
  color: black;
}


/* Keyframes */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  background-color: #ffffff;
  color: #000000;
}

.logo {
  width: 80px;
  height: auto;
}

.search-bar {
  min-width: 340px;
  height: 40px;
  background-color: #ffffff;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
    transition: box-shadow 0.2s;
}

.icon-navbar-register {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  position: relative;
  z-index: 5;
  /* width: 50px; */
transition: .3s;
}

.superhero-img {
  position: relative;
  z-index: 5;
}

 .superhero:hover {
background-color: #3b2156;
}
 .superhero:hover .eclair {
  opacity: 1;
  animation: lightflicker .5s infinite;


}



.soleil-bg {
  transition: .3s;
  background: transparent;

}

.town:hover .soleil-bg {
  background: linear-gradient(180deg, rgba(152,170,186,1) 0%, rgba(253,119,0,1) 100%);

}

.town-img {
  position: relative;
  z-index: 5;
}
/* .icon-navbar-register:hover .town {

} */

.eclair {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(20deg);
  width: 25px;
  opacity: 0;
  z-index: 1;
/* animation-name: lightflicker;
animation-duration: 1s;
animation-timing-function: linear;
animation: lightflicker 0.2s ease-out forwards; */
/* animation: flickerAnimation .5s infinite; */
/* opacity: 0; */

/* animation: lightflicker .5s infinite; */
}

.rain {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  /* background-color: red; */
  opacity: 0;

}
.soleil-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  /* background-color: red; */
  /* opacity: 0; */
  /* background: linear-gradient(180deg, rgba(254,209,112,1) 0%, rgba(143,58,64,1) 100%); */
  background-position: bottom;

}

.rain:hover
 {
  opacity: 1;
  animation: rain 0.3s linear infinite;

 }

 .option-type {
  opacity: 0.5;
  transition: .3s;
 }
 
 .option-type .disabled {
   opacity: 0.3;
  }
  .option-type:hover .disabled {
    opacity: 0.3;
  }
  
  .option-type:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
  
  
.selected {
   opacity: 1;
  }
  @keyframes rain {
  0% {background-position: 0px 0px;}
  100%{background-position: 150px 400px;}
}
@keyframes lightflicker {
  0% {opacity: 0}
  10% { opacity: 1;}
  30% {opacity: 1;}
  40% { opacity: 0;}

  90%, 100%{opacity: 1;}
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}